/venv
/.venv
/.meltano
.env
/.vscode
.logs
*.egg-info
/.git

.DS_Store

__pycache__

orchestrate/.telemetry
orchestrate/__pycache__
orchestrate/history
orchestrate/logs
orchestrate/.logs_queue
orchestrate/schedules
orchestrate/storage

README.md
